* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: Skranji;
    src: url("fonts/Skranji/Skranji-Regular.ttf");
}

@font-face {
    font-family: Germania;
    src: url("fonts/Germania/GermaniaOne-Regular.ttf");
}

@font-face {
    font-family: Monsterrat;
    src: url("fonts/Monsterrat/Montserrat-VariableFont_wght.ttf");
}

:root {
    --title-font: Germania;
    --body-font: Monsterrat;
    --silly-font: Skranji;

    --hover-color: lightskyblue;
}

html {
    scroll-behavior: smooth;
}

/*Navigation bar stylings*/
body {
    display: flex;
    
    align-items: center;
    flex-direction: column;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 75px;
    position: fixed;
    
    border-radius: 15px;

    backdrop-filter: blur(10px);

}

#navbarList {
    display: flex;
    gap: 15px;

    font-family: var(--title-font);
    letter-spacing: 7px;
    font-size: 2rem;
    color: white;

    list-style-type: none;
}

.navbarLinks:link,.navbarLinks:visited {
    text-decoration: none;
    color: white;
}

.navbarLinks:hover {
    color:var(--hover-color);
}

/*Homepage Stylings*/
#titlePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-image: url("img/bg/dark_mountain_top3.avif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#title {
    text-align: center;

    font-family: var(--title-font);
    color: white;

    letter-spacing: 8px;
    font-size: 120px;
    
}

#downArrow {
    height: 100px;
    
    filter: invert(100%);
}

#downArrow:hover {
    filter: brightness(0) saturate(100%);
    filter: invert(64%) sepia(74%) saturate(228%) hue-rotate(162deg) brightness(104%) contrast(96%);
}

/*Media stylings for mobile, homepage and navbar only*/
@media screen and (max-width: 950px){
    #navbar {
        width: 100%;
        height: 45px;

        border-radius: 0px;
    }

    #navbarList {
        letter-spacing: 3px;
        font-size: 0.75rem;
    }

    #title {
        font-size: 75px;
    }
}

/*Homepage > Company Profile stylings*/
#companyProfile {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10%;

    height: 100vh;
    width: 100vw;

    background: #3a4959;
    
}

#descriptionBox {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    height: 80%;
    width: 40%;

    border-radius: 15px;
}

#descriptionTitle {
    font-size: 100px;
    font-family: var(--title-font);
    color: white;
}

#descriptionPara {
    font-size: 30px;
    color: white;

    font-family: var(--body-font);
    text-align: center;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;
    width: 80%;

    border-radius: 12px;

    background-image: url("img/bg/dark_mountain_bottom3.avif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 150%;
}

/*Media stylings for mobile, about us page only*/
@media screen and (max-width: 950px) {
    #image {
        width: 95%;
        height: 98%;
    }

    #descriptionBox {
        width: 85%;
        gap: 25px;
    }

    #descriptionTitle {
        font-size: 60px;
    }

    #descriptionPara {
        font-size: 25px;
    }

}

/*Staff page stylings*/
#staff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-image: url("img/bg/dark-ocean.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#staffTitle {
    font-size: 90px;
    font-family: var(--title-font);
    color: white;
    padding-bottom: 25px;
}

#staffContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 70%;
}

.subStaffContainer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 35px;

    height: 100%;
    width: 22%;
}

.staffCircleTitle {
    font-size: 35px;
    font-family: var(--body-font);
    color: white;
}

.staffCircle {
    min-height: 325px;
    min-width: 325px;

    border-radius: 165px;
}

.staffPosi {
    font-size: 25px;
    color: white;

    font-family: var(--body-font);
    text-align: center;
}

.staffDesc {
    font-size: 20px;
    color: white;

    font-family: var(--body-font);
    text-align: center;
}

.staffIconContainer {
    display: flex;
    justify-content: space-around;

    height: 50px;
    width: 50%;
}

#helenY, #jackYaeger, #julianBartz, #amyWilliams {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#helenY {
    background-image: url("img/staff/helenY.avif");
}

#jackYaeger {
    background-image: url("img/staff/jackYaeger.webp");
}

#julianBartz {
    background-image: url("img/staff/julianBa.jpg");
}

#amyWilliams {
    background-image: url("img/staff/amyW.avif");
}

.staffIcons {
    filter: invert(100%);
}

.staffIcons:hover {
    filter: brightness(0) saturate(100%);
    filter: invert(64%) sepia(74%) saturate(228%) hue-rotate(162deg) brightness(104%) contrast(96%);
}

/*media stylings for staff page*/
@media screen and (max-width: 950px) {
    #staff {
        height: 335vh;

        align-items: center;
        justify-content: flex-start;
        gap: 30px;

        background-image: url("img/bg/long-mobile-background.jpg");
        background-color: #86aec4;
    }

    #staffTitle {
        margin-top: 50px;
        font-size: 40px;
    }

    #staffContainer {
        flex-direction: column;
    }

    .subStaffContainer {
        height: auto;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .staffCircle {
        height: 280px;
        width: 280px;

        border-radius: 140px;
    }
}

/*Stylings for careers page*/
#careers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:30px;

    height: 100vh;
    width: 100vw;

    background-image: url("img/bg/purple-sky-mountain-darker.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#careersQuestion {
    font-size: 100px;
    font-family: var(--title-font);

    text-align: center;
    color: white;
}

#descBox {
    display: flex;

    justify-content: space-around;
    align-items: center;

    flex-direction: column;
}

#careersDesc {
    font-size: 20px;
    color: white;

    font-family: var(--body-font);
    text-align: center;
}

#applyNowBox {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;
}

#applyButton {
    font-size: 75px;
    font-family: var(--title-font);
    color: white; 
}

#applyButton:hover {
    color: var(--hover-color);
}
/*media stylings for careers homepage*/
@media screen and (max-width: 950px) {
    #careersQuestion {
        font-size: 60px;
    }
}

/*Careers > application form styling*/
#application {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-image: url("img/bg/dark-mountain-grass-valley-darker.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#formContainer {
    display: flex;

    flex-direction: column;
    justify-content: center;

    align-items: center;
    height: 80%;
    width: 60%;

}

#applicationForm {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap:25px;

    height: 100%;
    width: 100%;
    
    font-family: var(--body-font);
}
#applicationTitle {
    font-size: 100px;
    font-family: var(--title-font);
    color: white;
}

#applicationDisc {
    font-size: 20px;
    color: white;

    font-family: var(--body-font);
    text-align: center;
}

.formObject {
    height: 7%;
    width: 50%;

    text-align: center;
    font-size: 30px;
    color: white;
    font-family: var(--body-font);

    background-color: transparent;
    backdrop-filter: blur(50px);

    border-radius: 12px;
    border-style: none;
    border: thin white solid;
}

.textAreaCV {
    height: 20%;
    width: 50%;
    resize: none;

    background-color: transparent;
    backdrop-filter: blur(50px);

    text-align: center;
    color: white;
    font-size: 30px;
    font-family: var(--body-font);

    border-radius: 12px;
    border-style: none;
    border: thin white solid;
}

#labelCV {
    color: white;
    font-size: 30px;
    font-family: var(--body-font);
}

#cvForm {
    text-align: center;
    color: white;
}

#submitButton {
    height: 7%;
    width: 20%;

    text-align: center;
    font-size: 30px;
    color: white;
    font-family: var(--body-font);

    background-color: transparent;
    backdrop-filter: blur(50px);

    border-radius: 12px;
    border-style: none;
    border: thin white solid;
}

#submitButton:hover {
    background-color: var(--hover-color);
}
/*Application form media stylings*/
@media screen and (max-width: 950px){
    #formContainer {
        height: 95%;
        width: 100%;
    }

    #applicationForm {
        gap: 10px;
    }

    #applicationTitle {
        font-size: 60px;
        text-align: center;
        margin-top: 30px;
    }

    .formObject {
        width: 95%;
        font-size: 20px;
    }

    .textAreaCV {
        width: 95%;
        font-size: 20px;
    }

    #submitButton {
        height: 10%;
        width: 40%;
    }
}

/*stylings for courses page*/
#courses {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: 100vw;
    gap: 10px;

    background-image: url("img/bg/red-dead-trees.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#coursesTitle {
    font-size: 100px;
    font-family: var(--title-font);
    color: white;
    text-align: center;
}

#coursesContainer {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;

    align-items: center;

    height: 500px;
}

.courseBox {
    display: flex;

    justify-content: space-around;
    align-items: center;

    flex-direction: column;

    height: 100%;
    width: 100%;

    border: thin white solid;
    backdrop-filter: blur(8px);
    border-radius: 12px;
}

.courseBox:hover {
    background-color: var(--hover-color);
    filter: drop-shadow(0 0 0.2rem var(--hover-color));
}

.courseTitles {
    font-size: 50px;
    font-family: var(--title-font);
    color: white;
}

.courseLogos {
    max-height: 200px;
}

.textBox {
    height: 40%;
    width: 90%;
}

.courseDescriptor {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: var(--body-font);
}

.courseLink {
    height: 100%;
    width: 30%;

}

.courseLink:link, .courseLink:visited, .courseLink:hover, .courseLink:active {
    text-decoration: none;
}

/*Courses Media Stylings*/
@media screen and (max-width: 950px){
    #coursesContainer {
        flex-direction: column;
    }
    .courseLink {
        width: 80%;
    }
    .courseBox {
        text-align: center;
        
    }
    .courseDescriptor {
        font-size: 11px;
    }
    .courseTitles {
        font-size: 25px;
    }
    .courseLogos {
        max-width: 100px;
    }
}
















/*Placeholder stuff*/

#placeholderText {
    font-family: var(--silly-font);
    font-size: 150px;
    text-align: center;
    color: black;
}


